<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brno Knowledge Base</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery-ujs.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/typeahead.bundle.js"></script>
    <script src="/javascripts/bootstrap-tokenfield.js"></script>
    <script src="/javascripts/application.js"></script>

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/tokenfield-typeahead.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-tokenfield.css" rel="stylesheet">
    <link href="/stylesheets/application.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">KBase</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% tags.each do |t| %>
                  <li><%=link_to "##{t.name}", tag_url(t.name)%></li>
                <% end %>
              </ul>
              </li>
              <% if current_user %>
                <li><%=link_to "@#{current_user.login}", github_profile_url %></li>
                <li><a href="<%=url(:article, :new)%>"><b>Write Article</b></a></li>
                <li><%=link_to "Logout", logout_url %></li>
              <% else %>
                <li><%=link_to 'Login', login_url %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
      <%= flash_message_block_for :notice %>
      <%= flash_message_block_for :error %>
      <%= flash_message_block_for :info %>
      <%=yield%>
    </div>
  </body>
</html>

